**/.ipynb_checkpoints
**/__pycache__
**/bounding
*.png
*.mp4
*.npy
*.npz
*.dae
data/*
logs/*
scenenn/*
.vscode/*
test_*
temp_*
output
wandb
*_data
*.json
*.zip
*.pt
*.ply
**/wandb
*_data
*_results
*_lyc.sh
ckpt

**/build
**/cuda_op/dist
**/cuda_op/sort_vertices.egg-info
*_dataset
debug/*
debug*.py
dependencies/RoIAlign.pytorch/*
*.egg-info
!coco_id_to_name.json
!front3d_to_nyu40.json
dependencies/Mask2Former
dependencies/detectron2
